<%- include('header.ejs', {titleDual:{ top: 'Community' , bottom: 'Photos' }, hasTime: true }) %>
<div class="main photo-feed">
	<div class="photo-container"></div>
	<div class="photo template">
		<div class="photo-frame">
			<div class="photo"><img /></div>
		</div>
		<div class="caption"></div>
	</div>
</div>
