@use 'shared/_colors'as c;
@use 'shared/_utils'as u;

#photo-feed-html.weather-display {
	background-image: url('../images/backgrounds/6.png');
}

.weather-display .main.photo-feed {
	height: 310px;
	overflow: hidden;
	position: relative;

	.photo-container {
		height: 100%;
		width: 100%;
	}

	.photo-frame {
		width: 100%;
		height: 310px;
		background: black;
		overflow: hidden;

		.photo {
			width: 100%;
			height: 100%;

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	.caption {
		font-family: 'Star4000';
		font-size: 18pt;
		color: white;
		@include u.text-shadow();
		text-align: center;
		padding: 4px 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
